.App {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* #region header */
.App-header {
  display: flex;
  align-items: center;
  color: var(--primary-2);
  border-bottom: var(--primary-2) solid 2px;
}

.App-header-img {
  width: 128px;
  height: 128px;
  margin-right: 16px;
}
/* #endregion header */

/* #region body */
.App-body {
  padding: 48px;
}

.App-body-p {
  margin-bottom: 8px;
}

.form {
  display: flex;
  gap: 8px;
}

.form-input-cont {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-input {
  width: 200px;
  height: 32px;
  border: lightgray solid;
  border-radius: 4px;
}

.form-button {
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: lightgray solid;
  border-radius: 8px;
  background-color: transparent;
}
/* #endregion body */

/* #region footer */
.App-footer {
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: var(--primary-2) solid 2px;
  font-style: italic;
}
/* #endregion footer */
